__pycache__
.DS_store
.ipynb_checkpoints

*~
*.egg-info
*.py[cod]
*.pth
*.swp

.idea
.project
.pydevproject

build/
dist/

/fiftyone/brain/internal/models/cache/**/*
!/fiftyone/brain/internal/models/cache/manifest.json
*.pth
