
**/*.DS_store

__pycache__
*.py[cod]

build/
dist/
*.egg-info
.project
.pydevproject
**/*.ipynb_checkpoints
.idea

*~

/fiftyone/brain/internal/models/cache/**/*
!/fiftyone/brain/internal/models/cache/manifest.json
