
**/*.DS_store

__pycache__
*.py[cod]

build/
dist/
*.egg-info
.project
.pydevproject
**/*.ipynb_checkpoints
.idea

*~

/fiftyone/brain/models/model_cache/**/*
!/fiftyone/brain/models/model_cache/manifest.json
