name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-18.04 # needed for pre-built python versions
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
    steps:
      - name: Clone fiftyone-brain
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check Python version
        run: |
          python --version
          pip --version
      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools wheel
          pip install pyarmor twine
      - name: Set environment
        env:
          RELEASE_TAG: ${{ github.ref }}
        run: |
          if [[ $RELEASE_TAG =~ ^refs\/tags\/v.* ]]; then
             echo "RELEASE_VERSION=$(echo '${{ github.ref }}' | sed 's/^refs\/tags\/v//')" >> $GITHUB_ENV
          fi
      - name: Build wheel
        run: |
          python setup.py bdist_wheel
      - name: Build wheel (Linux)
        run: |
          python setup.py bdist_wheel --plat-name linux
      - name: Build wheel (macOS)
        run: |
          python setup.py bdist_wheel --plat-name mac
      - name: Build wheel (Windows)
        run: |
          python setup.py bdist_wheel --plat-name win
      - name: Upload wheel (Linux)
        uses: actions/upload-artifact@v2
        with:
          name: wheel-linux-${{ matrix.python-version }}
          path: dist/*linux*.whl
      - name: Upload wheel (macOS)
        uses: actions/upload-artifact@v2
        with:
          name: wheel-macos-${{ matrix.python-version }}
          path: dist/*macos*.whl
      - name: Upload wheel (Windows)
        uses: actions/upload-artifact@v2
        with:
          name: wheel-windows-${{ matrix.python-version }}
          path: dist/*win*.whl

  test:
    needs: [build]
    runs-on: ubuntu-18.04
    env:
      FIFTYONE_DO_NOT_TRACK: true
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.9
    steps:
      - name: Clone fiftyone-brain
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools wheel
      - name: Download fiftyone-brain wheel
        uses: actions/download-artifact@v2
        with:
          name: wheel-linux-${{ matrix.python-version }}
          path: downloads
      - name: Reinstall fiftyone-brain
        run: |
          pip install --force-reinstall --no-deps downloads/*.whl
      - name: Install fiftyone
        run: |
          git clone https://${{ secrets.FIFTYONE_GITHUB_TOKEN }}@github.com/voxel51/fiftyone fiftyone-src --depth 1 --branch develop
          cd fiftyone-src
          python setup.py bdist_wheel
          pip install voxel51-eta[storage] fiftyone-db
          pip install ./dist/*.whl
      - name: Set up ETA credentials
        env:
          FIFTYONE_GOOGLE_CREDENTIALS: ${{ secrets.FIFTYONE_GOOGLE_CREDENTIALS }}
        run: |
          mkdir -p "${HOME}/.eta"
          echo "$FIFTYONE_GOOGLE_CREDENTIALS" > "${HOME}/.eta/google-credentials.json"
          wc "${HOME}/.eta/google-credentials.json"
          md5sum "${HOME}/.eta/google-credentials.json"
      - name: Install test dependencies
        run: |
          pip install imageio pytest torch torchvision
      - name: Run tests
        run: |
          pytest --verbose tests/ --ignore tests/intensive/

  publish:
    needs: [build, test]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-18.04
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v2
        with:
          path: downloads
      - name: Install dependencies
        run: |
          pip3 install --upgrade pip setuptools wheel
          pip3 install twine
      - name: Set environment
        env:
          RELEASE_TAG: ${{ github.ref }}
        run: |
          if [[ $RELEASE_TAG =~ ^refs\/tags\/v.*-rc\..*$ ]]; then
             echo "TWINE_PASSWORD=${{ secrets.FIFTYONE_TEST_PYPI_TOKEN }}" >> $GITHUB_ENV
             echo "TWINE_REPOSITORY=testpypi" >> $GITHUB_ENV
          else
             echo "TWINE_PASSWORD=${{ secrets.FIFTYONE_PYPI_TOKEN }}" >> $GITHUB_ENV
             echo "TWINE_REPOSITORY=pypi" >> $GITHUB_ENV
          fi
      - name: Upload to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_NON_INTERACTIVE: 1
        run: |
          python3 -m twine upload downloads/wheel-*/*.whl
